*{
    box-sizing: border-box;
}
.container{
    width: 1440px;
    margin: 47px auto;
    padding: 0 30;
}
.header{
    display: flex;
    width: 1200px;
    margin-left: 220px;
}
.header-image{
 margin-right: 20px;
 margin-left: -100px;
 background: #FFFFFF;
 box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
 width: 320px;
 height: 40px;
}
.header-spaner{
font-size: 16px;
color:gray;
margin-right: 16px;
margin-top: 8px;
font-family: 'Rubik', sans-serif;
}
.atribut-header{
 text-decoration: none;
 font-weight: bold;
 color: #285193;
}
.header-image-lupa{
    margin-left: 283px;
    margin-right:  42px;
    margin-top: 10px;
    font-family:serif;
}
.header-image-flag{
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 50%;
}
.folow{
    display: flex;
    width: 156px;
    height: 45px;
    margin-top: 2px;
    margin-left: 23px;
    border: #1E96C8 solid 2px;
    border-radius: 5px;
    background-color: #1E96C8;
}
.folow-image-telegram{
  margin: 10px;
} 
.header-padding{
    margin-right: 20px;
    font-family: 'Roboto', sans-serif;
}
.spaners-folow{
    margin: 10px;
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.container-head{
    width: 1440px;
    margin: 0 auto;
    padding: 0 30;
}
.head-item{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 1200px;
    margin-top: 65px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    height: 58px;
}
.head-list{
    margin: 21px 22px 25px;
}
.atribut-head{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: #515151;
    font-weight:bold;
}
.container-main{
    width: 1440px;
    margin: 0 auto;
    padding: 0 30;  
}
.main-image{
    margin-top: 18px;
}
.container-menu{
    width: 1440px;
    margin: 0 auto;
    padding: 0 30;
}
.item-menu{
    display: flex;
    border:#F6F6F9 solid 2px ;
    background-color: #F6F6F9;
    width:1200px;
    height: 133px;
    list-style-type: none;
    margin-left: 120px;
}
.image-menu1{
    margin-top: 44px;
    margin-bottom: 44px;
    margin-right: 35px;
}
.atribut-menu1{
   display: flex;
   margin-top: -90px;
   margin-left: 80px;
   margin-right: 10px;
   width: 232px;
   height: 50px;
   text-decoration: none;
   font-family: 'Rubik', sans-serif;
   font-size: 20px;
   font-weight: bold;
   color: black;
}
.menu-header1{
    width: 3px;
    height: 74px;
    margin-top: 30px;
    border: 1px solid red;
    margin-right: 30px;
}
.menu-header2{
    width: 3px;
    height: 74px;
    margin-top: 30px;
    border: 1px  solid #05B135;
    margin-right: 30px;
}
.menu-header3{
    width: 3px;
    height: 74px;
    margin-top: 30px;
    border: 1px solid black;
    margin-right: 30px;
    margin-left: -50px;
}
.image-menu{
    margin-top: 44px;
    margin-bottom: 44px;
    margin-right: 30px;
}
.atribut-menu2{
    display: flex;
   margin-top: -80px;
   margin-left: 80px;
   width: 232px;
   height: 50px;
   text-decoration: none;
   font-family: 'Rubik', sans-serif;
   font-size: 15px;
   font-weight: bold;
   color:red;
}
.atribut-menu3{
    display: flex;
   margin-top: -80px;
   margin-left: 80px;
   width: 232px;
   height: 50px;
   text-decoration: none;
   font-family: 'Rubik', sans-serif;
   font-size: 15px;
   font-weight: bold;
   color:#05B135;
}
.atribut-menu4{
    display: flex;
   margin-top: -80px;
   margin-left: 40px;
   width: 232px;
   height: 50px;
   text-decoration: none;
   font-family: 'Rubik', sans-serif;
   font-size: 15px;
   font-weight: bold;
   color:black;
}
.padding-menu{
    display: flex;
   margin-left: 80px;
   margin-top: -30px;
   width: 232px;
   text-decoration: none;
   font-family: 'Rubik', sans-serif;
   font-size: 15px;
   font-weight: bold;
   color:black;
   font-size: 25px;
}
.padding-menu1{
    display: flex;
    margin-top: -30px;
    margin-left: 50px;
    width: 232px;
    height: 50px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color:black;
    font-size: 25px;  
}
.new-container{
    width: 1440px;
    margin: 0 auto;
    padding: 0 30;
}
.main-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
    margin-top: -150px;
}
.main-item{
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    width: 386px;
    height: 196px;
    margin-left: 20px;
}
.main-heading1{
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}
.main-padding1{
font-family: 'Roboto', sans-serif;
color: #6B6D97;
font-size: 14px;
}
.container-footer{
    width: 1440px;
    margin: 0 auto;
    padding: 0 30; 
}
.footer{
    display: flex;
    margin-top: 147px;
    margin-left: 110px;
    border: #f0e3cb solid 2px;
    background-color:#f0e3cb ;
    border-radius: 5px;
    width: 1210px;
    height: 91px;
}
.image-footer{
    margin-left: 34px;
    margin-top: 28px;
    margin-bottom: 28px;
}
.padding-footer{
    margin-left: 20px;
    margin-top: 34px;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.spanner-footer{
    font-size: 18px;
    padding-left: 10px;
    padding-top: 8px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    color: white;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 34px;
    border: #FF8B36 solid 2px;
    background-color:#FF8B36 ;
    width: 234px;
    height: 42px;
    margin-top: 24px;
    border-radius: 5px;
    
}
.section{
    display: flex;
}

.container-newpost{
    width: 1440px;
    margin: 0 auto;
    padding: 0 30;  
}
.heading-newpost{
    margin-left: 110px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.newpost-item{
    list-style-type: none;
    margin-left:70px ;
    width:775px ;
    height: 1271px;
    display: flex;
    flex-direction: column ;
}
.newpost-list{
   margin-bottom: 15px ;
}
.newpost-atribut{
 display: flex;
 text-decoration: none;
 margin-left: 280px;  
 margin-top: -140px; 
 font-family: 'Rubik', sans-serif;
 font-weight: bold;
 color: black;
}
.newpost-atribut1{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: #434343;
}
.newpost-padding{    
display: flex;
text-decoration: none;
margin-left: 280px;
}
.newpost-spanner{
    margin-left: 10px;
    color: #7688A4;
    font-family: 'Rubik', sans-serif;
}
.newpost-image{
    display: flex;
    flex-direction: column;
} 
.atribut-newpost{
    display: flex;
    text-decoration: none;
}
.newpost-image2{
    margin-left: 280px; 
}
.blog{
    display: flex ;
}
.blog-item{
    border: 1px solid #F6F6F9;
    background-color:#F6F6F9 ;
    width: 386px;
    height: 475px;
    margin-left: 90px;
}
.blog-list{
    list-style-type: none;
    display: block;
    margin-left: -10px;
    
}
.header-blog{
    margin-left: -10px;
    width: 306px;
    height: 4px;
    background-color: #E4E4E4;
}
.atribut-blog1{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-weight:500;
    color: #202020;

}
.atribut-blog{
    text-decoration:none;
    display: block;
    width: 240px;
    height: 62px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #202020;
}
.spanner-blog{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #7688A4;
}
.images-blog{
    display: inline-block;
    margin-top: 60px;
    margin-left: -41px;
}
.bold-container{
    width: 1440px;
    margin: 0 auto;
    padding: 0 30;
}
.spanner-bold{
    border: 1px solid #295093 ;
    background-color: #295093;
    color: white;
    display: flex;
    width: 211px;
    height: 42px;
    border-radius: 5px;
    padding-left:35px ;
    padding-top: 10px;
    margin-left: 425px;
    margin-top: -300px;
}
.atribut-bold{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.store-container{
    width: 1440px;
    margin: 0 auto;
    padding: 0 30;
}
.store{
    display: flex;
    margin-top: 135px;
    border: 2px solid #F6F6F9;
    border-radius: 5px;
    background-color: #F6F6F9;
    margin-left: 100px;
    width: 1220px;
    height: 214px;
    justify-content: space-around;
}
.atribut-store{
    text-decoration: none;
    color: #295093;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

}
.store-heading{
    margin-top: 64px ;
    width: 526px;

}
.store-padding{
    width: 515px;
    font-weight: bold;
    color: black;
}
.store-images{
 margin-top: 80px;
}
.store-image{
    margin-top: 35px;
}